@font-face{
    font-family: "FiraSans-ExtraBold";
    src: url(../fonts/FiraSans-ExtraBold.ttf);
    src: url(../fonts/FiraSans-ExtraBold.ttf) format(ttf);
}

@font-face{
    font-family: "FiraSans-Medium";
    src: url(../fonts/FiraSans-Medium.ttf);
    src: url(../fonts/FiraSans-Medium.ttf) format(ttf);
}


@font-face{
    font-family: "FiraSans-SemiBold";
    src: url(../fonts/FiraSans-SemiBold.ttf);
    src: url(../fonts/FiraSans-SemiBold.ttf) format(ttf);
}


@font-face{
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
    src: url(../fonts/Roboto-Light.ttf) format(ttf);
}



@font-face{
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
    src: url(../fonts/Roboto-Medium.ttf) format(ttf);
}